.fieldset {
  width: 800px;
}
.submit-button {
  background-color: rgb(183, 156, 207);
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: bolder;
  transition: all ease-in-out 200ms;
  margin: 5px 10px 40px 0;
  margin-bottom: 0px;
}

.submit-button:hover {
  background-color: rgb(189, 231, 231);
  cursor: pointer;
}

.text-box {
  width: 456px;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all ease-in-out 200ms;
}

.text-box:hover {
  border: 3px solid black;
}
.emoji {
  font-size: 12px;
  font-weight: bold;
  margin: 80px 0;
}

.current-temperature {
  margin-left: 100px;
}
strong {
  font-size: 40px;
  line-height: 1;
  margin-left: 0px;
}
.temperature-units {
  font-size: 10px;
  position: relative;
  top: -20px;
}

.body {
  background-color: honeydew;
  width: 70%;
  display: block;
  margin: 0 auto;
  border-radius: px;
  border: 2px solid rgb(172, 172, 172);
}
#date {
  font-size: 15px;
  margin-left: 100px;
}
.city {
  font-size: 34px;
  font-family: "Oleo Script", cursive;
  text-transform: capitalize;
}
.link {
  font-size: 10px;
}
.footer {
  margin-top: 30px;
}
#description {
  margin-bottom: 5px;
  margin-top: 0px;
  position: relative;
  top: -10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  text-transform: capitalize;
}

button {
  border-radius: 4px;
  padding: 5px 5px;
  background-color: rgb(101, 199, 101);
  font-weight: bolder;
  transition: all ease-in-out 200ms;
}
button:hover {
  background-color: white;
}
p {
  font-size: 8px;
  font-weight: bold;
}
#icon {
  width: 70px;
}

img {
  width: 70px;
}
img:hover {
  width: 80px;
}
header {
  text-align: center;
  margin: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  font-size: 30px;
}
em {
  font-weight: 200px;
}
.inputs {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
